[build]
  publish = "dist/"
  functions = "functions/"
  command = "npm install -g elm && npm install && npx --no-install elm-tooling install && mkdir -p .elm-pages && npm run build"

[build.environment]
  ELM_HOME = "$NETLIFY_BUILD_BASE/cache/elm"
  NO_ELM_TOOLING_INSTALL = "1"

[dev]
  command = "npm start"
  targetPort = 1234
  autoLaunch = true
  framework = "#custom"
