@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,600,700|Roboto+Mono&display=swap");
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");

iframe {
  border: 0;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Remove Mobile Safari submit button rounding */
form input[type="submit"] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form {
  font-family: "Open Sans", arial, sans;
}
form h2 {
  background: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  -webkit-appearance: none;
  background-color: #eee;
}
form textarea {
  resize: none;
  overflow: hidden;
}
form input[type="button"],
form input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
}
form input[type="submit"] {
  background-color: rgba(0, 168, 232, 1);
  font-family: "Raleway";
  font-size: 20px;
  border: none;
  color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: normal;
}
form input[type="submit"]:hover {
  background-color: rgba(20, 188, 252, 1);
}

.CodeMirror {
background: rgba(0, 0, 0, 0.033) !important;
font-family: "Roboto Mono", monospace !important;
height: auto !important;
padding: 10px;
}
input .button {
border-radius: 0px !important;
}
form input[type="submit"] {
border-radius: 0px !important;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
iframe {
border: 0;
}
.embed-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* Remove Mobile Safari submit button rounding */
form input[type="submit"] {
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

form {
font-family: "Open Sans", arial, sans;
}
form h2 {
background: #4d4d4d;
font-family: "Open Sans", sans-serif;
color: #797979;
font-size: 18px;
font-weight: 100;
padding: 20px;
margin: -30px -30px 30px -30px;
}
form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
display: block;
width: 100%;
padding: 7px;
border: none;
border-bottom: 1px solid #ddd;
border-radius: 3px;
margin-top: 10px;
background: transparent;
margin-bottom: 10px;
font: 16px Arial, Helvetica, sans-serif;
height: 45px;
-webkit-appearance: none;
background-color: #eee;
}
form textarea {
resize: none;
overflow: hidden;
}
form input[type="button"],
form input[type="submit"] {
-moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
-webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
box-shadow: inset 0px 1px 0px 0px #45d6d6;
background-color: #2cbbbb;
border: 1px solid #27a0a0;
display: inline-block;
cursor: pointer;
color: #ffffff;
font-family: "Open Sans", sans-serif;
font-size: 14px;
padding: 8px 18px;
text-decoration: none;
}
form input[type="submit"] {
background-color: rgba(0, 168, 232, 1);
font-family: "Raleway";
font-size: 20px;
border: none;
color: #fff;
padding: 10px 50px;
border-radius: 10px;
font-weight: normal;
}
form input[type="submit"]:hover {
background-color: rgba(20, 188, 252, 1);
}

.on-air {
  animation: glow 0.8s infinite alternate
}

@keyframes glow {
  from {
    /* box-shadow: 0 0 10px -10px #aef4af; */
    box-shadow: 0 0 -10px #ed2121;
  }
  to {
    box-shadow: 0 0 6px #ed2121;
    /* box-shadow: 0 0 10px 10px #aef4af; */
  }
}

.avatar img {
  border-radius: 50%;
}

/*! tailwindcss v2.1.2 | MIT License | https://tailwindcss.com */ /*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
fieldset {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}
body {
  font-family: inherit;
  line-height: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
hr {
  border-top-width: 1px;
}
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
[role="button"],
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
